---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Arc">
	<main>
		<h1>Welcome to <span class="text-gradient">Arc</span></h1>
		<h4>This is best Roblox Hub with <span class="text-gradient">Comfortable</span> for eyes design and with <span class="text-gradient">Bar</span><h4>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://arcsoftwares.ml/key"
				title="Go to Hub Key"
				body="Go to url where the key for hub."
			/>
			<Card
				href="https://arcsoftwares.ml/main"
				title="Go to Hub"
				body="Go to main hub executable link."
			/>
			<Card
				href="https://discord.gg/DTNDKGYkaD"
				title="Discord (Arc)"
				body="Main arc discord."
			/>
			<Card
				href="https://discord.gg/rmGHeZd8N4"
				title="Discord (Exor)"
				body="Main exor discord. (Partner and where arc too)"
			/>
			<Card
				href="https://arcsoftwares.ml/events/christmas/index"
				title="Christmas Mini Game"
				body="No longer description"
			/>
			<Card
				href="https://arcsoftwares.ml/404"
				title="Buy subscriptions (Temporarily)"
				body="No longer description"
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #000000;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
